body {
		
}
#map {
	height: 100%;
}

#content {
	padding-top: 40px; 
	padding-left: 10px;
}

#content #object_list {
	overflow-y:scroll;
	overflow-x: hidden;
	max-height: 80%;
}

#content #object_list .division {
	background-color: #ccc;
	text-align: center;
}

#content .object:hover {
	background-color: #ccc;
}
#content .object {
	border-bottom: 1px #ccc solid;
}

#footer {
	background-color: #484848;
	color: #ccc;
}